.header{

    background:#ffffff;

    border-bottom:1px solid var(--border);

    position:sticky;

    top:0;

    z-index:1000;

}



.header .container{

    height:75px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:30px;

}


/* LOGO */

.logo{

    display:flex;

    align-items:center;

    gap:10px;

}


.logo-icon{

    width:42px;

    height:42px;

    display:flex;

    align-items:center;

    justify-content:center;

    background:var(--primary);

    color:white;

    border-radius:12px;

    font-size:22px;

}


.logo-text{

    display:flex;

    flex-direction:column;

    line-height:1;

}


.logo-text span{

    font-size:16px;

    color:var(--text-soft);

}


.logo-text strong{

    font-size:22px;

    color:var(--text);

}



/* MENU */

.menu{

    display:flex;

    align-items:center;

    gap:25px;

}



.menu a{

    font-size:15px;

    font-weight:600;

    color:var(--text-soft);

    transition:.3s;

}



.menu a:hover{

    color:var(--primary);

}



/* BUSCA */

.search{

    display:flex;

    align-items:center;

    background:var(--surface);

    border:1px solid var(--border);

    border-radius:10px;

    overflow:hidden;

}



.search input{

    width:180px;

    padding:10px 12px;

    border:0;

    outline:none;

    background:transparent;

    color:var(--text);

}



.search button{

    border:0;

    background:var(--primary);

    color:white;

    height:40px;

    width:42px;

    cursor:pointer;

    font-size:18px;

}



.search button:hover{

    background:var(--primary-dark);

}


/* ==========================
   BUSCA
========================== */

.search{

    position:relative;

}



.resultado-busca{

    position:absolute;

    top:110%;

    left:0;

    width:100%;

    background:white;

    border-radius:14px;

    box-shadow:0 15px 40px rgba(0,0,0,.15);

    overflow:hidden;

    display:none;

    z-index:9999;

}



.resultado-item{

    display:flex;

    align-items:center;

    gap:12px;

    padding:12px 14px;

    cursor:pointer;

    transition:.25s;

}



.resultado-item:hover{

    background:#f3f4f6;

}



.resultado-item img{

    width:42px;

    height:42px;

    object-fit:contain;

}



.resultado-info h4{

    font-size:14px;

    color:#111827;

}



.resultado-info p{

    font-size:12px;

    color:#6b7280;

}


/* ==========================
   MENU MOBILE
========================== */

.menu-btn{

    display:none;

    width:42px;

    height:42px;

    border:none;

    color:#000;

    font-size:24px;

    border-radius:12px;

    cursor:pointer;

}

/* Painel */

.menu-mobile{

    position:fixed;

    top:0;

    left:-280px;

    width:260px;

    height:100vh;

    background:#fff;

    box-shadow:0 0 30px rgba(0,0,0,.15);

    z-index:99999;

    transition:.35s;

    padding:80px 20px;

}

.menu-mobile.ativo{

    left:0;

}

.menu-mobile a{

    display:block;

    padding:16px 0;

    color:#111827;

    font-size:17px;

    text-decoration:none;

    border-bottom:1px solid #eee;

}

.menu-mobile a:hover{

    color:#2563eb;

}
